/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

a {
  font-size: 15px;
  color: rgb(20, 66, 119);
}

body {
  background: linear-gradient(#e5eef0, #ddecf0);
  padding: 10;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

nav {
  align-items: center;
  background-color: #91d9fa;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
.body {
  width: 100%;
}

.container {
  display: block;
  margin: 0 auto;
}

.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

.navbar-header {
  display: flex;
  justify-content: space-evenly;
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.collapse-navbar-collapse {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin: 10px;
}

.material-icons {
  margin: 10px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #fff;
  border-top: 20px solid #7a71f7;
  width: 100%;
  margin: 1 1 1 1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* styling cart view */

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.cart {
  padding: 1em 0;
}

.heading {
  text-align: center;
}

.items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border: solid;
  padding: 20px;
  margin: 10px;
}

.infoWrap {
  display: table;
  width: 100%;
}
.cartSection {
  display: table-cell;
  vertical-align: middle;
}

input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.subtotal {
  float: right;
  width: 35%;
  text-decoration: none;
}

.totalRow {
  padding: 0.5em;
  text-align: right;
}

/* btn submit */
.submitbtn {
  background-color: #62656f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.quantity {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
}

/* auth-form styling*/

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -30%);
  width: 350px;
  height: 380px;
  box-sizing: border-box;
  background: black;
  color: white;
}

.signUpBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -30%);
  width: 350px;
  height: 380px;
  box-sizing: border-box;
  background: black;
  color: white;
}

.loginBox p {
  margin: 0;
  padding: 12px 6px;
}

.loginLinks {
  color: white;
}
