@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Merriweather|Pacifico|Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  font-size: 15px;
  color: rgb(20, 66, 119);
}

a:hover {
  color: rgb(37, 199, 199);
}

body {
  padding: 10;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
  color: rgb(20, 66, 119);
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

/* -------------------------------------
    NAV BAR
------------------------------------- */
nav {
  align-items: center;
  background: rgb(255, 215, 83);
  color: #c0c0c0;
  font-style: bold;
  display: flex;
  height: 80px;
  padding: 10px;
  border: 5px solid white;
}

#nav-Log-Cart {
  display: flex;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: space-evenly;
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  /* background: rgb(255, 215, 83); */
  border: 5px solid white;
  height: 60px;
  padding: 1em;
}

#navWelcome {
  margin-left: 10px;
  font-family: 'Merriweather', serif;
}
.collapse-navbar-collapse {
  height: 30px;
  padding: 10px;
}

.navbar-items {
  display: flex;
  margin: 5px;
  align-items: center;
}

span {
  font-family: 'Pacifico', cursive;
}
/*itemsList*/

.itemsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
}
/*items-Card*/

.itemsCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  color: rgb(20, 66, 119);
}
.itemsCard img {
  width: 250px;
  height: 250px;
  justify-content: center;
  flex-direction: row;
  align-self: center;
}
.itemsCard h3,
p {
  align-self: center;
  margin: 1em;
  justify-content: center;
  text-justify: inherit;
}
.itemsCard button {
  margin: 1em;
}

.singleItem-card {
  margin-top: 3em;
  font-size: 15px;
}

.singleItem-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 15%;
  float: left;
  margin-right: 10%;
}

.singleItem-info {
  display: flex;
  float: right;
  padding: 3em;
}

#addCart {
  width: 80px;
  height: 100%;
  margin-top: 1em;
}

#si-qty {
  margin: 1em;
}
/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
.body {
  width: 100%;
}

.container {
  display: block;
  margin: 0 auto;
}

.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

.navbar-header {
  display: flex;
  justify-content: space-evenly;
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.navbar-collapse a {
  padding: 1em;
}

.collapse-navbar-collapse {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin: 10px;
}

.material-icons {
  margin: 10px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main {
  background: #fff;
  width: 100%;
  margin: 1 1 1 1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* styling cart view */
.cartPage {
  padding: 2em;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 80%;
  margin-top: 3em;
  margin-left: 7em;
  border: 5px solid white;
  background: url('https://images.unsplash.com/photo-1522071389925-82a0b89164ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 5% 0;
  margin-bottom: 5em;
}

.cart-img {
  opacity: 0.8;
  height: 800px;
  width: 100%;
}

.cart {
  padding: 1em 0;
}

.heading {
  text-align: center;
}

.items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border: solid;
  padding: 20px;
  margin: 10px;
}

.infoWrap {
  display: table;
  width: 100%;
}
.cartSection {
  display: table-cell;
  vertical-align: middle;
}

input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.subtotal {
  float: right;
  width: 35%;
  text-decoration: none;
}

.totalRow {
  padding: 0.5em;
  text-align: right;
}

/* btn submit */
.submitbtn {
  background-color: rgb(12, 149, 184);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.quantity {
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
}

/*UserWelcome*/
#userhome-bestseller-container {
  display: flex;
}
.userHome-pg {
  background: white;
  border: 5px solid white;
  height: 600px;
  width: 100%;
}
.userHome-pg h3 {
  margin-left: 3em;
  text-transform: uppercase;
}

.userHome-bgImg {
  background: url('https://beinghealthiest.com/wp-content/uploads/sites/8/2019/01/Breakfast-cereal.jpg');
  height: 500px;
  width: 100%;
  padding: 2em;
  margin-left: 3em;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* auth-form styling*/

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -30%);
  width: 350px;
  height: 380px;
  box-sizing: border-box;
  background: rgb(6, 134, 124);
  opacity: 0.8;
  color: white;
}

.signUpBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -30%);
  width: 350px;
  height: 380px;
  box-sizing: border-box;
  background: rgb(235, 68, 68);
  opacity: 0.8;
  color: white;
}

.auth-img {
  height: 600px;
  width: 100%;
  padding: 2em;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.loginBox p {
  margin: 0;
  padding: 6px 3px;
}

.loginLinks {
  color: white;
}

#g-img {
  margin-right: 5px;
}

.reg-page {
  background: rgb(235, 68, 68);
  border: 5px solid white;
  height: 600px;
  width: 100%;
}

.reg-img {
  height: 600px;
  width: 100%;
  padding: 2em;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.reg-form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em;
  width: 320px;
  height: 380px;
  transform: translate(-30%, -30%);
  box-sizing: border-box;
  color: white;
  text-align: left;
}
.reg-form p {
  margin: 0;
  padding: 12px 6px;
}

.loginLinks {
  color: white;
}

/*error-page*/
.error-page {
  display: flex;
  font-size: 12px;
}

.error-page h2 {
  margin-top: 8em;
  margin-right: 4em;
}

.error-img {
  width: 50%;
  height: 100%;
  margin-left: 4em;
  padding: 4em;
}

/* FOOTER */

.footer {
  background: rgb(255, 215, 83);
  height: 100px;
  display: flex;
  flex-direction: row;
}

.footer-wrap {
  margin-left: 25%;
}
.footer-wrap ul,
li {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
