/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#e5eef0, #ddecf0);
  padding: 10;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

nav {
  align-items: center;
  background-color: #91d9fa;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
.body {
  width: 100%;
}

.container {
  display: block;
  margin: 0 auto;
}

.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

.navbar-header {
  display: flex;
  justify-content: space-evenly;
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.collapse-navbar-collapse {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin: 10px;
}

.material-icons {
  margin: 10px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #fff;
  border-top: 20px solid #7a71f7;
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
